
/* Video Section Styles */
#video1, #video2 {
    grid-column: 2 / 3; /* Positioned in the right column */
    background: #ffffff;
    padding: 20px;
    border-bottom: 10px solid #ce2611;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    border-radius: 10px; /* Rounded corners */
}

/* Video Player Styling */
#video1 video, #video2 video {
    width: 100%; /* Make video player responsive */
    margin-top: 10px;
}

/* Audio Section Styles */
#audio1, #audio2, #audio3 {
    grid-column: 2 / 3; /* Positioned in the right column */
    background: #ffffff;
    padding: 20px;
    border-bottom: 10px solid #ce2611;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    border-radius: 10px; /* Rounded corners */
}

/* Audio Player Styling */
#audio1 audio, #audio2 audio, #audio3 audio {
    width: 100%; /* Make audio player responsive */
    margin-top: 10px;
}
